.additional {
  padding-top: 160px;
  padding-bottom: 40px;
  .article + & {
    padding-top: 150px;
    margin-bottom: 150px;
  }
  & + .article {
    margin-bottom: 110px;
  }
  & h2 {
    margin-bottom: 75px;
  }
  & .row {
    justify-content: space-between;
    margin: 0;
    padding-bottom: 45px;
  }
  &-box {
    width: calc(20% - 40px);
    margin-bottom: 40px;
    &:last-of-type &-head:after {
      display: none;
    }
    &-head {
      width: 90px;
      height: 90px;
      position: relative;
      display: flex;
      margin-bottom: 40px;
      & > img {
        max-width: 100%;
        max-height: 100%;
        width: auto;
        height: auto;
        display: block;
        margin: auto auto 0 0;
      }
      & > span {
        line-height: 30px;
        width: 30px;
        height: 30px;
        font-size: 14px;
        font-weight: 600;
        border: 1px solid #009EE3;
        box-sizing: border-box;
        border-radius: 50%;
        position: absolute;
        top: 0;
        right: -15px;
        text-align: center;
      }
      &:after {
        content: url(./../img/arrow-right.svg);
        position: absolute;
        right: -150%;
        top: 50%;
      }
    }
    & > p {
      font-size: 18px;
      line-height: 27px;
    }
  }
}
