.questions {
  padding: 80px 0;
  h2 {
    margin-bottom: 45px;
  }
  &-box {
    background: #F3F2FA;
    border-radius: 30px;
    line-height: 24px;
    font-size: 16px;
    max-width: 980px;
    margin: 0 auto 30px;
    &-head {
      border-radius: 60px;
      padding: 18px 40px;
      transition: all .3s;
      & {
        background: url(./../img/overflow.svg) no-repeat, #2F2483;
        background-position: calc(100% - 40px) center;
        color: #fff;
        &:hover {
          cursor: pointer;
          background-color: #402ECF;
        }
        &.active {
          background:url(./../img/hidden.svg) no-repeat, #E8E7EF;
          background-position: calc(100% - 40px) center;
          color: #000;
          &:hover {
            background-color: #DAD6F6;
            cursor: pointer;
          }
        }
        ~ .questions-box-body {
          display: none;
        }
      }
    }
    &-body {
      padding: 40px;
      & a {
        color: #009EE3;
        font-size: 18px;
        line-height: 22px;
        font-weight: 600;
        transition: all .3s;
        &:hover {
          color: #2F2483;
        }
      }
    }
  }
}
